{% extends 'base.html' %} {% block main %}
<style>
  .img-container {
    width: 100%;
    max-width: 800px; /* Set a maximum width for better responsiveness */
    margin: 0 auto; /* Center the container horizontally */
  }

  .img-top {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16/9;
  }

  h2,
  h4 {
    text-align: center;
  }
  h2 {
    font-weight: bold;
  }
  .form-group {
    margin: auto;
  }
  select option:disabled {
    background-color: gray;
    color: white; /* Optionally change text color */
  }
  
</style>
<div class="img-container">
  <img
    src="{{space['image']}}"
    class="card-img-top"
    alt="Foto {{space['name']}}"
  />
  <br /><br />
  <h2>{{space['name']}}</h2>
  <br />
  <h4>Tipe: {{space['type']|capitalize}}</h4>
  <h4>Slot Dipesan: {{session['book']}}</h4>
  <h4>
    Jam Dipesan: {% if session.get('to') %} {{session['to'] - session['from']}} jam {% else
    %} flat {% endif %}
  </h4>
  <h4>Total Harga: Rp.{% if session.get('to') %} {{ "{:,.0f}".format(session['harga'] * (session['to'] - session['from'])) }} {% else %} {{ "{:,.0f}".format(session['harga']) }} {% endif %} </h4>
  <br /><br />

  <form action="/payment/{{space['type']}}/{{space['name']}}" method="post">
    <div class="form-group col-md-6">
      <label for="payment">Metode Pembayaran:</label>
      <select class="form-control" id="payment" name="payment">
        <option value="qris">QRIS</option>
        <option value="gopay">Gopay</option>
        <option value="ovo">OVO</option>
      </select>
      <br />
      <div class="d-flex justify-content-center">
        <button class="btn btn-success" type="submit">Lanjut Bayar</button>
      </div>
    </div>
  </form>
</div>
{% endblock main %}
