name: Build and Push Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            nkangdra/werewolf:latest
            nkangdra/werewolf:v${{ github.run_number }}

      - name: Print Image Tag
        run: echo "Image built and pushed with tag v${{ github.run_number }}"

      - name: Update GitOps Repository
        run: |
          git clone https://x-access-token:${{ secrets.GITOPS_TOKEN }}@github.com/nico-kangdra/gitops.git
          cd gitops/helm/werewolf
          sed -i "s/^version:.*/version: v${{ github.run_number }}/" values.yaml
          git config user.email "werewolf@nickeverest.site"
          git config user.name "werewolf-bot"
          git add values.yaml
          git commit -m "Update werewolf to v${{ github.run_number }}"
          git push
          echo "GitOps repository has been updated."
