{% extends 'base.html' %} {% block main %}
<style>
  #googleMap {
    width: 100%; /* Set the map container width to 100% of the parent element */
    height: 50vh; /* Set a fixed height or adjust as needed */
    margin: auto;
  }
  h2 {
    text-align: center;
    font-weight: bold;
  }
</style>
<h2>Nyari Lokasi Parkir</h2>
<main>
  <input
    id="place-search"
    type="text"
    placeholder="Enter a location"
    autocomplete="off"
    class="form-control"
    onclick="this.select()"
  />
  <div id="googleMap"></div>

  <script>
        let map;
        let currentLocationMarker;
        let selectedMarker;
        const autocompleteOptions = {
          types: ["geocode"],
        };

        function initMap() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition((position) => {
              const { latitude, longitude } = position.coords;
              const mapOptions = {
                center: { lat: latitude, lng: longitude },
                zoom: 17,
              };

              map = new google.maps.Map(
                document.getElementById("googleMap"),
                mapOptions
              );

              currentLocationMarker = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map
              });

              getCurrentLocationName(latitude, longitude);

              const input = document.getElementById("place-search");
              const autocomplete = new google.maps.places.Autocomplete(
                input,
                autocompleteOptions
              );
              autocomplete.bindTo("bounds", map);

              autocomplete.addListener("place_changed", () => {
                const place = autocomplete.getPlace();
                if (!place.geometry) {
                  window.alert(
                    "No details available for input: '" + place.name + "'"
                  );
                  return;
                }

                if (selectedMarker) {
                  selectedMarker.setMap(null);
                }
                if (currentLocationMarker) {
                  currentLocationMarker.setMap(null);
                }

                map.setCenter(place.geometry.location);
                selectedMarker = new google.maps.Marker({
                  position: place.geometry.location,
                  map: map
                });
              });

              const customMarker = {
            url: "{{url_for('static', filename='PPP.png')}}",
            scaledSize: new google.maps.Size(80, 53.7),
          };
              {% for x in spaces.values() %}
              
              

          listener(
            new google.maps.Marker({
            position: { lat: Number({{x['lat']}}), lng: Number({{x['long']}}) },
            map: map,
            icon: customMarker,
          }),
          new google.maps.InfoWindow({
            content:`<div>
    <h5>{{x['name']}} ({{x['type'].title()}})</h5>
    <a target='_blank' href={{x['link']}}>{{x['link']}}</a>
    <br><br>
    <a class='btn btn-primary' href={{url_for('spaces_get', name=x['name'])}}>View</a>
    </div>`,
          })
          );
              {% endfor %}
            });
          } else {
            alert("Geolocation is not supported by this browser.");
          }
        }

        function getCurrentLocationName(latitude, longitude) {
          const geocoder = new google.maps.Geocoder();
          const latlng = { lat: latitude, lng: longitude };

          geocoder.geocode({ location: latlng }, (results, status) => {
            if (status === "OK") {
              if (results[0]) {
                const currentLocationName = results[0].formatted_address;
                document.getElementById("place-search").value =
                  currentLocationName;
              } else {
                console.error("No results found");
              }
            } else {
              console.error("Geocoder failed due to: " + status);
            }
          });
        }

        function listener(marker, infoWindow) {
          marker.addListener("click", function () {
            infoWindow.open(map, marker);
          });
        }
  </script>
</main>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap&libraries=places"
></script>
{% endblock main%}
