{{- range .Values.apis }}
apiVersion: v1
kind: Service
metadata:
  name: "{{ .name }}-service"
  labels:
    app: {{ .name }}
spec:
  type: ClusterIP
  selector:
    app: {{ .name }}
  ports:
    - port: 80
      targetPort: 80

---

{{- end }}
