{% extends 'base.html' %} {% block main %}
<style>
  .img-container {
    width: 100%;
    max-width: 800px;
    /* Set a maximum width for better responsiveness */
    margin: 0 auto;
    /* Center the container horizontally */
  }

  .img-top {
    width: 100%;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16/9;
  }

  h2,
  h4 {
    text-align: center;
  }

  h2 {
    font-weight: bold;
  }

  .form-group {
    margin: auto;
  }

  select option:disabled {
    background-color: gray;
    color: white;
    /* Optionally change text color */
  }

  select option:disabled {
    background-color: gray;
    color: white;
    /* Optionally change text color */
  }

  .img-container {
    width: 100%;
    max-width: 800px;
    /* Set a maximum width for better responsiveness */
    margin: 0 auto;
    /* Center the container horizontally */
    text-align: center;
    /* Center the content within the container */
  }

  .btn-addmin {
    width: 40px;
    height: 40px;
  }

  #book {
    width: 50px;
    /* Adjust the width as needed */
    height: 40px;
    /* Set the height equal to the width */
    text-align: end;
    font-size: 14px;
    /* Adjust the font size as needed */
    margin: 0 5px;
    /* Adjust the margin as needed */
  }
</style>
<div class="img-container">
  <h2>{{space['name']}}</h2>
  <br />
  <img src="{{space['image']}}" class="card-img-top" alt="Foto {{space['name']}}" />
  <br /><br />
  <div class="form-group col-md-6">
    <h5>Booking Slot</h5>
    <div class="button-container" id="container1">
      <button class="btn btn-dark" id="todaydate">{{today_name}}</button>
    </div>
    <br />
    <div class="button-container" id="container2">Type: {{space['type']}}</div>

    {% if space['pay'] == 'flat' %}
    <br />
    <div class="button-container" id="container3">
      <button class="btn btn-danger btn-addmin" onclick="min()">-</button>
      <input type="number" name="book" id="book" value="1" min="1" max="" />
      <button class="btn btn-success btn-addmin" onclick="add()">+</button>
    </div>
    {% else %}
    <input type="number" name="book" id="book" value="1" min="1" max="" hidden />
    {% endif %}
  </div>
  <br />

  <div class="form-group col-md-5">
    <h5>Pilih Lantai:</h5>
    <select class="form-control" name="floor" id="floor-select">
      <option disabled selected>Pilih Lantai</option>
      {% for key, val in slot.items() %}
      <option value="{{key}}">{{key}}</option>
      {% endfor %}
    </select>

    {% for key, val in slot.items() %}
    <div class="card" id="card-{{ key }}" style="display: none">
      <div class="card-body">
        {% for x in val | numerical_sort %}
        <button
          class='btn {% if space['pay'] == 'flat' %} {% if slot_space[x] != "none" %} btn-secondary {% else %} btn-outline-primary {% endif %} {% else %} btn-outline-primary {% endif %}'
          onclick="toggleButton(this)" {% if space['pay'] == 'flat' %} {% if slot_space[x] !="none" %} disabled {% endif %} {% endif %}>
          {{x}}
        </button>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <br />
  <form action="/booking/{{space['name']}}" method="post">
    {% if space['pay'] == 'perjam' %}
    <div class="form-group col-md-5" id="divtime" hidden>
      <label for="fromPicker" class="form-label">From:</label>
      <select id="fromPicker" name="fromPicker" class="form-control"></select>
      <label for="toPicker" class="form-label">To:</label>
      <select id="toPicker" name="toPicker" class="form-control"></select>
    </div>
    {% endif %}
    <input id="mynum" name="mynum" type="number" value="" style="display: none" />
    <input id="mine" name="mine" type="text" value="" style="display: none" />
    <div class="form-group col-md-6">
      <input type="text" name="slots" id="slots" value="" hidden />
      <input type="text" name="books" id="books" value="" hidden />
      <br />
      <div class="d-flex justify-content-center">
        <button class="btn btn-success" type="submit" id="lnjtbyr" disabled hidden>Lanjut Bayar</button>
      </div>
    </div>
  </form>
</div>

<script>
  var selectedButtons = [];
  document.getElementById("books").value = 1;

  function toggleButton(button) {
    if (selectedButtons.includes(button)) {
        button.classList.remove("btn-primary");
        button.classList.add("btn-outline-primary");
        var index = selectedButtons.indexOf(button);
        if (index > -1) {
            selectedButtons.splice(index, 1);
        }
        // Remove the slot value from the selected slots
        var btnval = button.innerHTML;
        var slotval = document.getElementById("slots").value;
        var newValue = slotval
            .split(",")
            .filter((slot) => slot.trim() !== btnval.trim())
            .join(",");
        document.getElementById("slots").value = newValue;
        document.getElementById("lnjtbyr").setAttribute("hidden", "")
        document.getElementById("lnjtbyr").disabled = true;
        document.getElementById("divtime").setAttribute("hidden", "")

    } else {
        var waklo = document.getElementById("book").value;
        if (selectedButtons.length < waklo) {
            button.classList.remove("btn-outline-primary");
            button.classList.add("btn-primary");
            selectedButtons.push(button);
            var btnval = button.innerHTML;
            var slotval = document.getElementById("slots");
            var currentVal = slotval.value;
            var newValue = currentVal ? currentVal + "," + btnval : btnval;
            alert("PARKING LOCATION : "+{{slot_info|tojson}}[button.innerHTML.trim()]['comment'])
            document.getElementById("slots").value = newValue;
            document.getElementById("lnjtbyr").removeAttribute("hidden");
            document.getElementById("lnjtbyr").disabled = false;
            document.getElementById("divtime").removeAttribute("hidden");
            updateTimeRange(document.getElementById("slots").value.trim());
        } else {
            alert("You can only select " + waklo + " buttons.");
        }
    }
}

function updateTimeRange(slot_id) {
    var selectedSlots = document.getElementById("slots").value.trim();
    var fromPicker = document.getElementById("fromPicker");
    var toPicker = document.getElementById("toPicker");
    
    // Clear existing options
    fromPicker.innerHTML = "";
    toPicker.innerHTML = "";
    var space_slot = {{slot_space|tojson}}[slot_id];
    console.log(space_slot);
    var currentHour = new Date().getHours();

    for (let x in space_slot){
      if (space_slot[x] != "no"){
        var option = document.createElement("option");
          option.text = x < 10 ? "0" + x + ":00" : x + ":00";
          option.value = x;
          if (x < currentHour) option.disabled = true;
          if (space_slot[x] != "none") option.disabled = true;
          fromPicker.add(option);
      }
    }

    for (let x in space_slot){
      if (space_slot[x] != "no"){
        var option = document.createElement("option");
          option.text = x < 10 ? "0" + x + ":00" : x + ":00";
          option.value = x;
          if (x <= currentHour) option.disabled = true;
          if (space_slot[x] != "none") option.disabled = true;
          toPicker.add(option);
      }
    }
  }


  document
    .getElementById("floor-select")
    .addEventListener("change", function () {
      var selectedValue = this.value;
      var allCards = document.querySelectorAll(".card");
      allCards.forEach(function (card) {
        card.style.display = "none";
      });
      var selectedCard = document.getElementById("card-" + selectedValue);
      if (selectedCard) {
        selectedCard.style.display = "block";
        resetButtons();
      }
    });

  function resetButtons() {
    selectedButtons.forEach(function (button) {
      button.classList.remove("btn-primary");
      button.classList.add("btn-outline-primary");
    });
    selectedButtons = [];
  }


  function add() {
    var input = document.getElementById("book");
    input.value = parseInt(input.value, 10) + 1;
    document.getElementById("books").value = input.value;
  }
  function min() {
    var input = document.getElementById("book");
    if (input.value > 1) {
      input.value = parseInt(input.value, 10) - 1;
      document.getElementById("books").value = input.value;
    }
  }
</script>
{% endblock main %}