{% extends 'base.html' %}

{% block main %}
<style>
  .card {
    width: 100%;
  }

  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
  }
  h2 {
    text-align: center;
    font-weight: bold;
  }
</style>
<div class="container-fluid">
  <h2>List Parkiran</h2>
  <br />
  <div class="row">
    <div class="col-md-4 offset-md-4 mb-4">
      <input type="text" id="searchInput" class="form-control" placeholder="Cari Parkiran">
    </div>
  </div>
  <div class="row" id="spacesContainer">
    {% for space in spaces.values() %}
    <div class="col-md-4 mb-4 space-card">
      <div class="card">
        <img src="{{space['image']}}" class="card-img-top" alt="Foto {{space['name']}}" />
        <div class="card-body">
          <h5 class="card-title">{{space["name"]}}</h5>
          <p class="card-text">Lokasi: <a href="{{space['link']}}" target="_blank">{{space["link"]}}</a></p>
          <p class="card-text">Tipe: {{space["type"]|capitalize}}</p>
          <a href="{{url_for('spaces_get', name=space['name'])}}" class="btn btn-primary">Lihat Parkiran</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.getElementById('searchInput').addEventListener('input', function() {
    var filter = this.value.toLowerCase();
    var spaceCards = document.querySelectorAll('.space-card');
    
    spaceCards.forEach(function(card) {
      var spaceName = card.querySelector('.card-title').textContent.toLowerCase();
      if (spaceName.includes(filter)) {
        card.style.display = '';
      } else {
        card.style.display = 'none';
      }
    });
  });
</script>
{% endblock main %}
