trigger:
  branches:
    include:
      - main
      - staging
      - develop

pool:
  vmImage: 'ubuntu-22.04'

variables:
  - group: main-tmp
  - group: main-vault
  - name: TAG
    value: v$(Build.BuildId)

jobs:
  - job: devJob
    displayName: 'Dev Job'
    steps:
      - template: deploy-templates-dev.yml
    condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'develop'))

  - job: stagingJob
    displayName: 'Staging Job'
    steps:
      - template: deploy-templates-staging.yml
    condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'staging'))

  - job: mainJob
    displayName: 'Main Job'
    steps:
      - template: deploy-templates-main.yml
    condition: and(succeeded(), eq(variables['Build.SourceBranchName'], 'main'))